@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  /* ## Colors

### Primary */

  --desaturatedRed: hsl(0, 36%, 70%);
  --softRed: hsl(0, 93%, 68%);

  /* ### Neutral */

  --darkGrayishRed: hsl(0, 6%, 24%);

  /* ### Gradients */

  /* --linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
--linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.section-container-main {
  height: 100vh;
}

.section-right {
  height: 100vh;
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.section-left {
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: cover;
  background-position: center;
  padding: 10px 200px 0px 150px;
}


.img-logo {
  margin-top: 80px;
  margin-bottom: 180px;
}
.box-left h2{
  color: var(--desaturatedRed);
  font-size: 60px;
  letter-spacing: 15px;
}

.box-left h1{
  letter-spacing: 15px;
  font-weight: 600;
  font-size: 50px;
  margin-top: -15px;
  color: black;
}
.box-left p {
  color: var(--desaturatedRed);
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  margin-top: 10px;
  border-radius: 50px;
  width: 400px;
  height: 40px;
  position: absolute;
  padding: 5px 0px 0px 20px;
  border: 1px solid hsl(0, 36%, 70%);
}

button {
  border-radius: 50px;
  width: 80px;
  position: relative;
  left: 340px;
  top: 10px;
  height: 40px;
  background: linear-gradient(
    273deg,
    hsl(0, 74%, 74%) 23%,
    hsl(0, 80%, 86%) 78%
  );
  border: none;
  border: 1px solid hsl(0, 36%, 70%);
  box-shadow: 2px 13px 21px 0px hsl(0, 36%, 70%);
}

button:hover {
  background: linear-gradient(
    273deg,
    hsl(0, 80%, 86%) 23%,
    hsl(0, 74%, 74%) 78%
  );
}

.validation-errors {
  margin-top: 100px;
  margin-left: 20px;
}

.input-error {
  border: 3px solid red;
  background-image: url(../images/icon-error.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 310px;
}
form p {
  margin-top: 100px;
  margin-left: 20px;
}
 /*-=====--------------------- Tablets */
 @media (max-width: 1273px){

   .box-left{
     padding: 20px 20px 0px 0x;
     margin-left: -120px;
   }
 }

 @media (max-width: 1285px) {
   
   .box-left{
     padding: 20px 20px 0px 100px;
    
  }
  .box-left p {
    color: var(--desaturatedRed);
    margin-top: 20px;
    padding: 0px;  
    margin-bottom: 20px;
    width: 350px;
  
  }

  .box-left h1{
    color: black;
  }


  .img-logo {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  button {
    border-radius: 50px;
    width: 80px;
    position: relative;
    left: 290px;
    top: 10px;
    height: 40px;
    background: linear-gradient(
      273deg,
      hsl(0, 74%, 74%) 23%,
      hsl(0, 80%, 86%) 78%
    );
    border: none;
    border: 1px solid hsl(0, 36%, 70%);
    box-shadow: 2px 13px 21px 0px hsl(0, 36%, 70%);
  }
  
  
  
  input {
    margin-top: 10px;
    border-radius: 50px;
    width: 320px;
    height: 40px;
    position: absolute;
    padding: 5px 0px 0px 20px;
    border: 1px solid hsl(0, 36%, 70%);
  }

  .section-container-main {
    height: 100vh;
   
    
  }
  
  }

/* --------------------------------- */
  @media (max-width: 992px) { 

   

   

    .section-left {
  
      background-image: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -150px;  
      padding: 10px 0px 0px 0px;
      text-align: center;
      height: 500px;
    }

    .section-right {
      background-image: url(../images/hero-mobile.jpg);
      background-size: contain;
      background-position: center;
      z-index: 9;
      margin-top: 30px;
      margin-bottom: 0px;
      /* background-color:hsl(0, 0%, 0%) ; */
    
      
    }
    
    .section-reverse{
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
      
    }

    


    .img-logo{
      position: absolute; 
      top:20px;
      left:50px;
      z-index: 10;
      height: 50px;

    }

    .box-left p {
      color: var(--desaturatedRed);
      margin-top: 20px;
      padding: 0px;  
      margin-bottom: 20px;
      width: 400px;
      margin-left: -50px;
      
    }
    .box-left  h2 {
      color: var(--desaturatedRed);
      margin-top: 20px;
      padding: 0px;  
      width: 300px;
      
      
    }
    .box-left  h1 {
     
      margin-top: -20px;
      padding: 0px;  
      margin-bottom: 20px;
      width: 300px;
    
    }
    button {
      border-radius: 50px;
      width: 80px;
      position: relative;
      left: 180px;
      top: 0px;
      height: 40px;
      background: linear-gradient(
        273deg,
        hsl(0, 74%, 74%) 23%,
        hsl(0, 80%, 86%) 78%
      );
      border: none;
      border: 1px solid hsl(0, 36%, 70%);
      box-shadow: 2px 13px 21px 0px hsl(0, 36%, 70%);
    }
    
    button:hover {
      background: linear-gradient(
        273deg,
        hsl(0, 80%, 86%) 23%,
        hsl(0, 74%, 74%) 78%
      );
    }
    input {
      margin-top: 0px;
      margin-left: -190px;
      border-radius: 50px;
      width: 400px;
      height: 40px;
      position: absolute;
      padding: 5px 0px 0px 20px;
      border: 1px solid hsl(0, 36%, 70%);
      
    }    

    .attribution {
      margin-top: 50px;
      font-size: 15px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
    
    } 

/* -------------------------------------------- */
@media (max-width: 576px) {
  .img-logo{
    position: absolute; 
    top:-30px;
    left:50px;
    z-index:10;
    height: 30px;

  }

  .section-right {
    background-image: url(../images/hero-mobile.jpg);
    background-size: contain;
    background-position: center;
    z-index: 9;
    margin-top: -140px;
    margin-bottom: 0px;
  }

  .section-left{
    
    margin :-290px 20px 0px;
  }
  
  input{
    width: 300px;
    margin-left: -130px;
  }

  button {
    border-radius: 50px;
    width: 80px;
    position: relative;
    left: 120px;
    top: 0px;
    height: 40px;
    background: linear-gradient(
      273deg,
      hsl(0, 74%, 74%) 23%,
      hsl(0, 80%, 86%) 78%
    );
    border: none;
    border: 1px solid hsl(0, 36%, 70%);
    box-shadow: 2px 13px 21px 0px hsl(0, 36%, 70%);
  }
  .box-left p {
    color: var(--desaturatedRed);
    margin-top: 10px;
    padding: 0px;  
    margin-bottom: 10px;
    width: 300px;
    margin-left: -10px;
    font-size: 14px;

    
  }

  .box-left  h1{
    font-size:40px;
    
  }
  .box-left  h2{
    font-size:35px;
    
  }
  
} 